*                         text=auto
/.github                  export-ignore
/Tests                    export-ignore
/.editorconfig            export-ignore
/.gitattributes           export-ignore
/.gitignore               export-ignore
/.php-cs-fixer.php        export-ignore
/codecov.yml              export-ignore
/dependency-checker.json  export-ignore
/docker-compose.yml       export-ignore
/packaging_exclude.php    export-ignore
/phpstan.neon             export-ignore
/phpunit.ci.xml           export-ignore
/phpunit.xml              export-ignore
/typoscript-lint.yml      export-ignore
