parameters:
    ignoreErrors:
        -
            message: "#^Method Fr\\\\Typo3Handlebars\\\\Renderer\\\\Template\\\\TemplatePaths\\:\\:mergeTemplatePaths\\(\\) should return array\\<string\\> but returns array\\<int|string, array\\<string\\>\\>\\.$#"
            count: 1
            path: Classes/Renderer/Template/TemplatePaths.php
