parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Prophecy\\\\Prophecy\\\\ObjectProphecy\\<TYPO3\\\\CMS\\\\Frontend\\\\ContentObject\\\\ContentObjectRenderer\\>\\:\\:\\$data\\.$#"
			count: 1
			path: Tests/Unit/DataProcessing/SimpleProcessorTest.php

		-
			message: "#^Access to an undefined property Prophecy\\\\Prophecy\\\\ObjectProphecy\\<TYPO3\\\\CMS\\\\Frontend\\\\Controller\\\\TypoScriptFrontendController\\>\\:\\:\\$config\\.$#"
			count: 2
			path: Tests/Unit/Renderer/HandlebarsRendererTest.php

		-
			message: "#^Access to an undefined property Prophecy\\\\Prophecy\\\\ObjectProphecy\\<TYPO3\\\\CMS\\\\Frontend\\\\Controller\\\\TypoScriptFrontendController\\>\\:\\:\\$no_cache\\.$#"
			count: 1
			path: Tests/Unit/Renderer/HandlebarsRendererTest.php
